OTTERWIKI_SETTINGS=/srv/data/settings.cfg
OTTERWIKI_REPOSITORY=/srv/wikis/_default
OTTERWIKI_API_KEY={{ otterwiki_api_key }}
OTTERWIKI_API_URL=http://localhost:8000
CHROMADB_MODE=server
CHROMADB_PATH=/srv/data/chroma
CHROMA_SYNC_STATE_PATH=/srv/data/chroma_sync_state.json
MCP_AUTH_TOKEN={{ mcp_auth_token }}
MCP_BASE_URL=https://robot.wtf
MCP_PORT=8001
MCP_HOST=0.0.0.0
