SECRET_KEY = "{{ otterwiki_secret_key }}"
REPOSITORY = "/srv/data/wikis/_default"
SQLALCHEMY_DATABASE_URI = "sqlite:///:memory:"
DEBUG = False
AUTH_METHOD = "PROXY_HEADER"
PROXY_HEADER_EMAIL = "x-otterwiki-email"
PROXY_HEADER_NAME = "x-otterwiki-name"
PROXY_HEADER_PERMISSIONS = "x-otterwiki-permissions"
RETAIN_PAGE_NAME_CASE = True
TREAT_UNDERSCORE_AS_SPACE_FOR_TITLES = True
READ_ACCESS = "ANONYMOUS"
WRITE_ACCESS = "ANONYMOUS"
ATTACHMENT_ACCESS = "ANONYMOUS"
PLATFORM_MODE = True
