SECRET_KEY = "{{ otterwiki_secret_key }}"
REPOSITORY = "/srv/wikis/_default"
SQLALCHEMY_DATABASE_URI = "sqlite:////tmp/otterwiki_default.db"
DEBUG = False
AUTH_METHOD = "PROXY_HEADER"
PROXY_HEADER_EMAIL = "x-otterwiki-email"
PROXY_HEADER_NAME = "x-otterwiki-name"
PROXY_HEADER_PERMISSIONS = "x-otterwiki-permissions"
